body {
  margin: 0px;
  font-family: Raleway, sans-serif;
  background: #F9F9F9; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0px; }

* {
  box-sizing: border-box;
  transform: translateZ(-1); }

div#background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%; }

.cube-container {
  opacity: 0;
  transition: all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  perspective: 1000px;
  transform: scale(0.25); }

.cube {
  transition: all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; }
  .cube .front {
    transform: rotateY(0deg) translateZ(100px); }
  .cube .back {
    transform: rotateX(180deg) translateZ(100px); }
  .cube .right {
    transform: rotateY(90deg) translateZ(100px); }
  .cube .left {
    transform: rotateY(-90deg) translateZ(100px); }
  .cube .top {
    transform: rotateX(90deg) translateZ(100px); }
  .cube .bottom {
    transform: rotateX(-90deg) translateZ(100px); }

.cube figure {
  margin: 0;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: 1px solid black;
  background: #7CD5F2;
  opacity: 0.5; }

div#index {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: black; }
  div#index div.index-wrap {
    position: relative;
    border-radius: 5px;
    min-height: calc(100vh - 30px);
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    div#index div.index-wrap div#banner div.banner-wrap {
      transition: all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
      padding: 30px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.8); }
    div#index div.index-wrap div#banner img.logo {
      display: block;
      margin: auto;
      width: 100px; }
    div#index div.index-wrap div#banner h1, div#index div.index-wrap div#banner h2, div#index div.index-wrap div#banner h3 {
      text-align: center; }
    div#index div.index-wrap div#banner h2 {
      margin-bottom: 15px; }
    div#index div.index-wrap div#banner a {
      color: black;
      text-decoration: none; }
  div#index div.panel {
    padding: 15px;
    width: 100vw;
    background: #F9F9F9;
    color: black; }
    div#index div.panel div.panel-wrap {
      border-radius: 5px;
      box-shadow: 1px 2.5px 5px #CBCBCB;
      background: white;
      width: 100%;
      max-width: 768px;
      overflow: auto;
      margin: auto;
      display: flex;
      flex-direction: row; }
      div#index div.panel div.panel-wrap div.contact {
        width: 100%;
        padding: 15px; }
        div#index div.panel div.panel-wrap div.contact h3 {
          text-align: center; }
        div#index div.panel div.panel-wrap div.contact a {
          color: black;
          text-decoration: none; }
      div#index div.panel div.panel-wrap div.column {
        width: calc(33.33% - 30px);
        margin: 15px;
        padding: 15px;
        border-radius: 5px; }
        div#index div.panel div.panel-wrap div.column h4 {
          text-align: center;
          border-bottom: 1px solid #CBCBCB;
          padding-bottom: 5px;
          margin-bottom: 5px; }
        div#index div.panel div.panel-wrap div.column p {
          text-align: center; }

div#dashboard {
  max-width: 768px;
  margin: auto; }
  div#dashboard div#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    margin: 15px 0px;
    padding: 15px;
    box-shadow: 1px 2.5px 5px #CBCBCB;
    border-radius: 5px; }
    div#dashboard div#header img {
      width: 50px;
      height: 50px; }
    div#dashboard div#header p {
      font-size: 24px;
      margin: 0px 15px; }
    div#dashboard div#header input {
      border: 2px solid #CBCBCB;
      border-radius: 5px;
      font-size: 18px;
      padding: 10px;
      width: 100%;
      font-family: Raleway, sans-serif;
      outline: none; }
  div#dashboard div#blurb {
    background: white;
    margin: 15px 0px;
    padding: 15px;
    box-shadow: 1px 2.5px 5px #CBCBCB;
    border-radius: 5px; }
    div#dashboard div#blurb p {
      text-align: center; }
  div#dashboard div.li {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 5px 0px;
    padding: 15px;
    box-shadow: 1px 2.5px 5px #CBCBCB;
    border-radius: 5px; }
    div#dashboard div.li p {
      margin-bottom: 15px; }
  div#dashboard div.load-more {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 5px 0px;
    padding: 15px;
    box-shadow: 1px 2.5px 5px #CBCBCB;
    border-radius: 5px;
    font-size: 18px;
    text-align: center; }
