$g1: #F9F9F9;
$g2: #F4F4F4;
$g3: #CBCBCB;
$w: white;
$b: black;

body {
  margin: 0px;
  font-family: Raleway, sans-serif;
  background: $g1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

* {
  box-sizing: border-box;
  transform: translateZ(-1);
}

div#background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.cube-container {
  opacity: 0;
  transition:         all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
  perspective: 1000px;
  transform: scale(0.25);
}

.cube {
  transition:         all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
   .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
   .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
   .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
   .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
   .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }
}

.cube figure {
  margin: 0;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: 1px solid black;
  background: #7CD5F2;
  opacity: 0.5;
}


div#index {
  position: relative;
  width: 100vw;
  height: 100vh;

  color: $b;
  div.index-wrap {
    position: relative;
    border-radius: 5px;
    min-height: 100vh;
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    div#banner {
      div.banner-wrap {
        transition:         all 2500ms cubic-bezier(0.77, 0, 0.175, 1);
        padding: 30px;
        border-radius: 5px;
        background: rgba(255,255,255,0.8);
        opacity: 0;
      }
      img.logo {
        display: block;
        margin: auto;
        width: 100px;
      }
      h1, h2, h3 {
        text-align: center;
      }
      h2 {
        margin-bottom: 15px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }
  }

  div.panel {
    padding: 15px;
    width: 100vw;
    background: $g1;
    color: $b;
    div.panel-wrap {
      border-radius: 5px;
      box-shadow: 1px 2.5px 5px $g3;
      background: white;
      width: 100%;
      max-width: 768px;
      overflow: auto;
      margin: auto;
      display: flex;
      flex-direction: row;

      div.contact {
        width: 100%;
        padding: 15px;
        h3 {
          text-align: center;
        }
        a {
          color: black;
          text-decoration: none;
        }
      }

      div.column {
        width: calc(33.33% - 30px);
        margin: 15px;
        padding: 15px;
        border-radius: 5px;
        h4 {
          text-align: center;
          border-bottom: 1px solid $g3;
          padding-bottom: 5px;
          margin-bottom: 5px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
